nav {
    background-color: #1325c7;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

h1 {
    color: #333;
}

h2 {
    color: #555;
}

p {
    color: #777;
}

footer {
    font-size: 12px;
    text-align: center;
}

/* Under this is highlighted text */

.flex {
    display: flex;
    justify-content: center;
  }
  
  .highlight {
      background: linear-gradient(to right, #efc169 50%, transparent 50%);
      height: 16px;
      background-size: 200% 50%;
      background-position: right bottom;
      transition: all .5s ease-out;
  }
  
  .highlight:hover {
      background-position: left bottom; 
  }